<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.2.0/bundles/stomp.umd.min.js"></script>
    <title>Simple real time chat application</title>
</head>
<body>
<div class="container">
    <h1 class="mt-4">Real time chat application</h1>
    <div id="chat" class="border rounded p-3 mb-3" style="height: 300px; overflow-y: auto">

    </div>
    <div class="input-group mb-1">
        <input id="senderInput" type="text" class="form-control"  placeholder="Your name..." />
    </div>
    <div class="input-group mb-3">
        <input id="messageInput" type="text" class="form-control"  placeholder="Type a message..." />
        <div class="input-group-append">
            <button id="sendMessage" class="btn btn-primary">Send</button>
        </div>
    </div>

</div>
</body>
<script>
    function setConnected(connected){
        document.querySelector("#sendMessage").disabled = !connected;
    }

    function connect(){
        let socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame){
            setConnected(true);
            stompClient.subscribe('/topic/messages', function (message) {
                showMessage(JSON.parse(message.body));
            })
        })

        function showMessage(message){
            let chat = document.querySelector("#chat");
            let messageElement = document.createElement("div");
            messageElement.textContent = message.sender + ": " + message.content;
            messageElement.class = "border-bottom mb-1";
            chat.appendChild(messageElement);
            chat.scrollTop = chat.scrollHeight;
        }

        function sendMessage(){
            let sender = document.querySelector("#senderInput").value;
            let content = document.querySelector("#messageInput").value;
            let chatMessage = {
                sender,
                content,
            }
            stompClient.send("app/sendMessage", {}, JSON.stringify(chatMessage))
        }
    }
</script>
</html>